header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  box-shadow: 0 0 0 1px rgb(16 22 26 / 10%), 0 0 0 rgb(16 22 26 / 0%),
    0 1px 1px rgb(16 22 26 / 20%);
  background-color: var(--header-background-color);
}

nav {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  margin: 0px auto;
  padding: 0 15px;
  width: 75%;
  height: 60px;
}

.logo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  svg {
    padding-right: 8px;
    fill: var(--text-color);
  }

  span {
    color: var(--text-color);
    font-size: 22px;
    font-weight: bold;
  }

  &:hover {
    opacity: 0.2;
  }
}

.link-container {
  display: flex;
  list-style: none;
}

.link {
  padding: 0px 16px;
  color: var(--link-text-color);
  font-size: 16px;

  &:hover {
    color: var(--link-hover-color);
  }
}

.link-active {
  color: var(--link-hover-color);
}

.button-container {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: flex-end;
}

.icon-button {
  @extend .icon-link;
  border: none;
  background: none;
  cursor: pointer;
}

.icon-link {
  padding: 0px 8px;
  fill: var(--link-text-color);

  &:hover {
    fill: var(--link-hover-color);
  }
}

@media (max-width: 720px) {
  nav {
    width: 100%;
  }

  .link-container {
    display: none;
  }
}
