header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--header-background-color);
  box-shadow: 0 0 0 1px #10161a1a, 0 0 0 #10161a00, 0 1px 1px #10161a33;
}

nav {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 15px;
  width: 75%;
  height: 60px;
}

.logo {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  svg {
    padding-right: 8px;
    fill: var(--text-color);
  }

  span {
    color: var(--text-color);
    font-weight: bold;
    font-size: 22px;
  }

  &:hover {
    opacity: 0.2;
  }
}

.link-container {
  display: flex;
  list-style: none;
}

.link {
  padding: 0 16px;
  color: var(--link-color);
  font-size: 16px;
  opacity: 0.55;

  &:hover {
    opacity: 0.9;
  }
}

.link-active {
  opacity: 0.9;
}

.button-container {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  justify-content: flex-end;
}

.icon-button {
  border: none;
  background: none;
  cursor: pointer;

  @extend .icon-link;
}

.icon-link {
  padding: 0 8px;
  opacity: 0.55;
  fill: var(--text-color);

  &:hover {
    opacity: 0.9;
  }
}

@media (max-width: 720px) {
  nav {
    width: 100%;
  }

  .link-container {
    display: none;
  }
}
