<h1>FAQs</h1>
<h2>What is Digi-Cloak?</h2>
<p>
  Digi-Cloak is an online web tool to hide a secret message in the image using
  cryptography and steganography.
</p>
<h2>How does it work?</h2>
<p>
  Message is encrypted into ciphertext using AES with a 256-bit key. This key is
  derived from a password specified by you. Encrypted ciphertext is hidden in
  the image using the LSB (Least Significant Bit) technique in such a way that
  the image is unaffected. The image is also provided by you.
</p>
<h2>What information is retained?</h2>
<p>No information is retained, all processes happens at client-side only.</p>
<h2>How secure is my message?</h2>
<p>
  Your message, password and image are never transmitted, all process
  takes place client-side in your browser.
</p>
<h2>I misplaced my password, is my message recoverable?</h2>
<p>
  No, that is the point. Your message, password and image are never submitted
  beyond your browser. If the password or image is misplaced, the original
  message is gone forever.
</p>
<h2>Is there a limit to the length of message to be hidden?</h2>
<p>
  Yes, message length should not greater that 4 times the number of pixels
  (height x width) in specified image.
</p>
