.main-container {
 display: flex;
 gap: 20px;
}

.left-container {
  flex-basis: 50%;
}

.right-container {
  flex-basis: 50%;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 52px;
  gap: 10px;
}

@media (max-width: 992px) {
  .main-container {
    flex-direction: column;
  }
}
