<header class="header">
  <div class="container">
    <a routerLink="/" class="header-logo-button">
      <span>Digi-Safe</span>
    </a>
  </div>
</header>

<!-- <mat-toolbar color="primary">
  <a routerLink="/" class="header-logo-button" mat-button>
    <mat-icon>lock</mat-icon>
    <span>Digi-Safe</span>
  </a>
  <span class="header-spacer"></span>
  <a routerLink="/lock" mat-button>
    LOCK
  </a>
  <a routerLink="/unlock" mat-button>
    UNLOCK
  </a>
  <a routerLink="/faqs" mat-button>
    FAQs
  </a>
</mat-toolbar> -->