@use "themes.scss";
@use "common.scss";

html,
body {
  height: 100%;
}

body {
  @extend .light-theme;
  margin: 0px;
  background-color: var(--grey-color-4);
  color: var(--text-color);
  font-family: "Helvetica Neue", sans-serif;
}

body.dark-mode {
  @extend .dark-theme;
}

a {
  text-decoration: none;
  color: inherit;
}
