@use "themes.scss";
@use "components.scss";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: var(--grey-color-4);
  color: var(--text-color);
  font-family: "Helvetica Neue", sans-serif;

  @extend .light-theme;
}

body.dark-mode {
  @extend .dark-theme;
}

a {
  color: inherit;
  text-decoration: none;
}
