<div class="header-container">
  <h1 class="heading">Digi-Cloak</h1>
  <h2 class="sub-heading">
    A cryptography + steganography solution for securing secret text
  </h2>
</div>
<div class="main-container">
  <p class="description">
    Hide secrets in plain-sight securely in images with help of AES encryption
    and LSB technique
  </p>
</div>
<div class="button-container">
  <a class="button button-large" routerLink="/lock">Lock</a>
  <a class="button button-large" routerLink="/unlock">Unlock</a>
</div>
