.top-container {
  margin-top: 60px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  margin: 12px 0px;
  font-size: 40px;
  text-align: center;
}

.sub-heading {
  margin: 8px 0px;
  font-size: 28px;
  text-align: center;
}

.middle-container {
  margin-top: 60px;
  margin-bottom: 20px;
}

.description {
  font-size: 20px;
  text-align: center;
}

.bottom-container {
  margin-top: 60px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  a + a {
    margin-left: 20px;
  }
}

.button {
  display: inline-flex;
  box-shadow: 0 0 0 1px rgb(16 22 26 / 40%);
  align-items: center;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 18px;
  justify-content: center;
  padding: 5px 10px;
  text-align: left;
  vertical-align: middle;
  min-height: 40px;
  min-width: 100px;
  background-color: #137cbd;

  &:hover {
    background-color: #106ba3;
  }

  &:active {
    background-color: #0e5a8a;
  }
}
