html,
body {
  height: 100%;
}

body {
  margin: 0px;
  background-color: #f5f8fa;
  color: #182026;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
}

.dark-mode {
  body {
    background-color: #30404d;
    color: #f5f8fa;
  }
}
