@use './themes.scss';

html,
body {
  height: 100%;
}

body {
  margin: 0px;
  background-color: var(--body-background-color);
  color: var(--body-color);
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}
