body {
  --body-background-color: #f5f8fa;
  --body-color: #182026;
  --header-background-color: white;
  --link-color: rgba(0, 0, 0, 0.55);
  --link-hover-color: rgba(0, 0, 0, 0.9);
  --footer-background-color: white;
  --divider-border-color: #dee2e6;
}

body.dark-mode {
  --body-background-color: #30404d;
  --body-color: #f5f8fa;
  --header-background-color: #394b59;
  --link-color: rgba(245, 248, 250, 0.55);
  --link-hover-color: rgba(245, 248, 250, 0.9);
  --footer-background-color: #293742;
  --divider-border-color: rgba(16, 22, 26, 0.4);
}
